
<ul id="context-menu-grid" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#">Expand all nodes</a></li>
    <li><a tabindex="-1" href="#">Collapse all nodes</a></li>
    <li><a tabindex="-1" href="#">Remove all Grouping</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Expand</a></li>
    <li><a tabindex="-1" href="#">Collapse</a></li>
    <li><a tabindex="-1" href="#">Remove Group</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Group by this Column</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1">Toggle Quick Filter</a></li>
</ul>


<ul id="context-menu-side-li" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#">Create Query</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Edit</a></li>
    <li><a tabindex="-1" href="#">Remane</a></li>
    <li><a tabindex="-1" href="#">Move</a></li>
    <li><a tabindex="-1" href="#">Delete</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Add to Favorites</a></li>
    <li><a tabindex="-1" href="#">Add to Startup</a></li>
    <li><a tabindex="-1" href="#">Email link</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Refresh</a></li>

</ul>
