<!DOCTYPE html>
<html lang="en-us"> 
    <head>
        <meta charset="utf-8">
        <title> Dhruv </title>
        <meta name="description" content="">
        <meta name="author" content="MTelSys">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-skins.min.css">

        <!-- SmartAdmin RTL Support is under construction
           This RTL CSS will be released in version 1.5
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-rtl.min.css"> -->

        <!-- We recommend you use "your_style.css" to override SmartAdmin
             specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
        

        <link rel="stylesheet" href="{{STATIC_URL}}slickgrid/slick.grid.css" type="text/css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}slickgrid/controls/slick.pager.css" type="text/css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}slickgrid/controls/slick.columnpicker.css" type="text/css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}slickgrid/plugins/slick.headermenu.css" type="text/css"/>

        <link rel="stylesheet" href="{{STATIC_URL}}querybuilder/query-builder.css" type="text/css"/>
        

        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/your_style.css"> 

        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{STATIC_URL}}img/favicon/favicon.ico" type="image/x-icon">

        
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        
        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip 
           Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="{{STATIC_URL}}img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="{{STATIC_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{STATIC_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{STATIC_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    </head>

    <!--

    TABLE OF CONTENTS.

    Use search to find needed section.

    ===================================================================

    |  01. #CSS Links                |  all CSS links and file paths  |
    |  02. #FAVICONS                 |  Favicon links and file paths  |
    |  03. #GOOGLE FONT              |  Google font link              |
    |  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
    |  05. #BODY                     |  body tag                      |
    |  06. #HEADER                   |  header tag                    |
    |  07. #PROJECTS                 |  project lists                 |
    |  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
    |  09. #MOBILE                   |  mobile view dropdown          |
    |  10. #SEARCH                   |  search field                  |
    |  11. #NAVIGATION               |  left panel & navigation       |
    |  12. #MAIN PANEL               |  main panel                    |
    |  13. #MAIN CONTENT             |  content holder                |
    |  14. #PAGE FOOTER              |  page footer                   |
    |  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
    |  16. #PLUGINS                  |  all scripts and plugins       |

    ===================================================================

    -->

    <!-- #BODY -->
    <!-- Possible Classes

    * 'smart-skin-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL (will be avilable from version SmartAdmin 1.5)
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer'      - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
    -->
    <body class="fixed-header fixed-ribbon  fixed-page-footer smart-style-0">

        <!-- #HEADER -->
        <header id="header">
            {% block north-block %}{% include "navbar.html" %}{% endblock %}
        </header>
        <!-- END HEADER -->

        <!-- #NAVIGATION -->
        <aside id="left-panel">
            <!-- Left panel : Navigation area -->
            <!-- Note: This width of the aside area can be adjusted through LESS variables -->
            {% block west-block %} {% include "sidebar.html" %} {% endblock %}
        </aside>
        <!-- END NAVIGATION -->

        <!-- #MAIN PANEL -->
        <div id="main" role="main">
          <!-- RIBBON -->
          <div id="ribbon">
            {% block centre-header-block %} {% include "ribbon.html" %} {% endblock %}
          </div>
          <!-- END RIBBON -->
          <!-- #MAIN CONTENT -->
          <div id="content">    
          </div>
          {% block context-menu %}{% include "contextmenu.html" %}{% endblock %}
          <!-- END #MAIN CONTENT -->
        </div>
        <!-- END #MAIN PANEL -->

        <!-- #PAGE FOOTER -->
        <div class="page-footer">
            {% block south-block %}{% include "footer.html" %}{% endblock %} 
        </div>
        <!-- END FOOTER -->

        <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
           Note: These tiles are completely responsive, you can add as many as you like -->
        <div id="shortcut">
            {% block shortcut-block %}{% endblock %}   
        </div>
        <!-- END SHORTCUT AREA -->
        <!--================================================== -->
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{STATIC_URL}}js/plugin/pace/pace.min.js"></script>-->

        <!-- #PLUGINS -->
        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        {% include "js.html" %}

    </body>

</html>