<script src="{{STATIC_URL}}slickgrid/lib/firebugx.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->
<script>
  if (!window.jQuery) {
    document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.11.1.min.js"><\/script>');
  }
</script>

<!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
<script>
  if (!window.jQuery.ui) {
    document.write('<script src="{{STATIC_URL}}js/libs/jquery-ui-1.11.0.min.js"><\/script>');
  }
</script>

<!-- IMPORTANT: APP CONFIG -->
<script src="{{STATIC_URL}}js/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="{{STATIC_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

<!-- BOOTSTRAP JS -->
<script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="{{STATIC_URL}}js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="{{STATIC_URL}}js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="{{STATIC_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="{{STATIC_URL}}js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="{{STATIC_URL}}js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="{{STATIC_URL}}js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="{{STATIC_URL}}js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="{{STATIC_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="{{STATIC_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices: you can disable this in app.js -->
<script src="{{STATIC_URL}}js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>
  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->

<!-- MAIN APP JS FILE -->
<script src="{{STATIC_URL}}js/app.js"></script>




<script src="{{STATIC_URL}}slickgrid/lib/jquery.event.drag-2.2.js"></script>
<script src="{{STATIC_URL}}slickgrid/lib/jquery.event.drop-2.2.js"></script>

<script src="{{STATIC_URL}}slickgrid/slick.core.js"></script>
<script src="{{STATIC_URL}}slickgrid/slick.formatters.js"></script>
<script src="{{STATIC_URL}}slickgrid/slick.editors.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.cellrangedecorator.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.cellrangeselector.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.cellselectionmodel.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.rowselectionmodel.js"></script>
<script src="{{STATIC_URL}}slickgrid/slick.grid.js"></script>
<script src="{{STATIC_URL}}slickgrid/slick.groupitemmetadataprovider.js"></script>
<script src="{{STATIC_URL}}slickgrid/slick.dataview.js"></script>
<script src="{{STATIC_URL}}slickgrid/controls/slick.pager.js"></script>
<script src="{{STATIC_URL}}slickgrid/controls/slick.columnpicker.js"></script>
<script src="{{STATIC_URL}}slickgrid/plugins/slick.headermenu.js"></script>
<script src="{{STATIC_URL}}js/grid.js"></script>

<script src="{{STATIC_URL}}querybuilder/query-builder.js"></script>


<script src="{{STATIC_URL}}js/myapp.js"></script>