<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is --> 
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="{{STATIC_URL}}img/avatars/sunny.png" alt="me" class="online" /> 
            <span>john.doe</span>
            <i class="fa fa-angle-down"></i>
        </a> 
    </span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynam
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->
<nav>
<!-- 
NOTE: Notice the gaps after each icon usage <i></i>..
Please note that these links work a bit different than
traditional href="" links. See documentation for details.
-->
    <ul>
        <li class="">
            <a href="ajax/dashboard.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a> 
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Favorites</span></a>
            <ul>
                <li>
                    <a href="show/TestParameter">Test Parameter</a>
                </li>
                <li>
                    <a href="ajax/datatables.html">Data Tables <span class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
                </li>
                <li>
                    <a href="show/TestResults">Test Results</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Personal</span></a>
            <ul>
                <li>
                    <a href="show/Test">Test Parameter</a>
                </li>
                <li>
                    <a href="show/TestR">Test Results</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Public</span></a>
            <ul>
                <li>
                    <a href="show/TestPa">Test Parameter</a>
                </li>
                <li>
                    <a href="show/TestRe">Test Results</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span></a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-file"></i> Other Pages</a>
                    <ul>
                        <li>
                            <a href="ajax/forum.html">Forum Layout</a>
                        </li>
                        <li>
                            <a href="ajax/profile.html">Profile</a>
                        </li>
                        <li>
                            <a href="ajax/timeline.html">Timeline</a>
                        </li>
                    </ul> 
                </li>
                <li>
                    <a href="ajax/pricing-table.html">Pricing Tables</a>
                </li>
                <li>
                    <a href="ajax/invoice.html">Invoice</a>
                </li>
                <li>
                    <a href="login.html" target="_top">Login</a>
                </li>
                <li>
                    <a href="register.html" target="_top">Register</a>
                </li>
                <li>
                    <a href="lock.html" target="_top">Locked Screen</a>
                </li>
                <li>
                    <a href="ajax/error404.html">Error 404</a>
                </li>
                <li>
                    <a href="ajax/error500.html">Error 500</a>
                </li>
                <li>
                    <a href="ajax/blank_.html">Blank Page</a>
                </li>
                <li>
                    <a href="ajax/email-template.html">Email Template</a>
                </li>
                <li>
                    <a href="ajax/search.html">Search Page</a>
                </li>
                <li>
                    <a href="ajax/ckeditor.html">CK Editor</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
