/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 * {
 	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
 }

 #myGrid, #myGrid div, #fieldGrid, #fieldGrid div {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

#myGrid, #fieldGrid{
  background: white;
  outline: 0;
  border: 1px solid silver;
  /*border-top: 0;*/
}

/*.slick-pager {
	border: 1px solid gray; 
}*/
#pager{
	width: 100%;
	height: 20px;
}
.jarviswidget .widget-body {
	padding-bottom: 0px;
}
.jarviswidget {
	margin: 0 0 0px;
}

.slick-pager .slick-pager-status {
	padding: 4px;
}

.slick-cell.selected {
  background-color: beige;
}

.slick-cell.active {
  border-color: gray;
  border-style: solid;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.slick-row.odd {
  background: #fafafa;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;  
}


/**
 * Style the header menu -START
*/

.slick-header-menu {
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 2px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  z-index: 20;
}


.slick-header-menuitem {
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.slick-header-menuitem:hover {
  border-color: silver;
  background: white;
}

.slick-header-menuitem-disabled {
  border-color: transparent !important;
  background: inherit !important;
}

.icon-help {
  background-image: url("../slickgrid/images/help.png");
}
/**
 * Style the header menu -END
*/

/**
 * Style the header row here -START
*/
.slick-headerrow-column {
  /*background: greenyellow; */
  text-overflow: clip;
  /*-moz-box-sizing: border-box;
  box-sizing: border-box;*/
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  
}

.slick-headerrow-column input {
	margin: 0;
	padding: 4px;
	padding-bottom: 2px;
	width: 100%;
	height: 100%;
	border: 1px solid silver;
	font-family: inherit;
	
  /*-moz-box-sizing: border-box;
  box-sizing: border-box;*/
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.slick-headerrow-column.ui-state-default {
  padding: 2px; 
  border: none;
  border-right: 1px solid silver;
}

/**
 * Style the header row here -END
*/

/**
 * Style the grouping here -START 
*/
.slick-group-toggle {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  padding-left: 5px;
}

/*
.slick-group-toggle.expanded {
  background: url(../slickgrid/images/collapse.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url(../slickgrid/images/expand.gif) no-repeat center center;
}
*/

 .slick-group-title[level='0'] {
  font-weight: bold;
}

.slick-group-title[level='1'] {
  text-decoration: underline;
}

.slick-group-title[level='2'] {
  font-style: italic;
}
/**
 * Style the grouping here -END 
*/

/**
* style for drop zone in query editor -START
*/

.cell-selection {

  border-right-color: silver;
  border-right-style: solid;
  background: #f5f5f5;
  color: gray;
  text-align: right;
  font-size: 10px;
}

.slick-row.selected .cell-selection {
  background-color: transparent; /* show default selected row background */
}

.filter-zone {
  width: 120px;
  border: 1px solid gray;
  background: beige;
  padding: 4px;
  font-size: 12pt;
  font-weight: bold;
  color: black;
  text-align: center;
  -moz-border-radius: 10px;
}

/**
* style for drop zone in query editor -END
*/