<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div id="tabs">
			<ul>
				<li>
					<a href="#tabs-1">Query Results</a>
				</li>
			</ul>
			<div id="tabs-1">
				<div id="myGrid"></div>
				<div id="pager"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	pageSetUp();
	// pagefunction
	var pagefunction = function() {
	
		$('#tabs').tabs();
	
		// Dynamic tabs
		var tabTitle = $("#tab_title"), tabContent = $("#tab_content"), tabTemplate = "<li style='position:relative;'> <span class='air air-top-right delete-tab' style='top:7px; right:7px;'><button class='btn btn-xs font-xs btn-default hover-transparent'><i class='fa fa-times'></i></button></span><a href='#{href}'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{label}</a></li>", tabCounter = 2;
	
		var tabs = $("#tabs").tabs();
	
		// actual addTab function: adds new tab using the input from the form above
		function addTab() {
			var label = tabTitle.val() || "Tab " + tabCounter, id = "tabs-" + tabCounter, li = $(tabTemplate.replace(/#\{href\}/g, "#" + id).replace(/#\{label\}/g, label)), tabContentHtml = tabContent.val() || "Tab " + tabCounter + " content.";
	
			tabs.find(".ui-tabs-nav").append(li);
			tabs.append("<div id='" + id + "'><p>" + tabContentHtml + "</p></div>");
			tabs.tabs("refresh");
			tabCounter++;
	
			// clear fields
			$("#tab_title").val("");
			$("#tab_content").val("");
		}
	
		// addTab button: just opens the dialog
		$("#add_tab").button().click(function() {
			dialog.dialog("open");
		});
	
		// close icon: removing the tab on click
		$("#tabs").on("click", 'span.delete-tab', function() {
	
			var panelId = $(this).closest("li").remove().attr("aria-controls");
			$("#" + panelId).remove();
			tabs.tabs("refresh");
		});
	};
	// end pagefunction
	// run pagefunction on load
	pagefunction();


</script>
