<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"
				-->
				<header>
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1"></i>Query Results</a>
						</li>
					</ul>
				</header>
				<!-- widget div-->
				<div class="no-padding">
					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom" id="s1">
								<div id="myGrid"></div>
								<div id="pager"></div>
							</div>
							<!-- end s1 tab pane -->
						</div>
						<!-- end content -->
					</div>
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
	</div>
	<!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
	pageSetUp();
	var data = {{data|safe}};
	var columns = {{columns|safe}};
	initGrid('#myGrid', data, columns);

	var headersHeight = $("#header").height() + $("#ribbon").height() + $("header").height() + $('.page-footer').height();
	function getContentHeight(){

		return ( $(window).height() -  headersHeight -24/* - $('article.sortable-grid').height()*/);
	}

	function getWidgetHeight(){
		var widgetHeight = $("#jarviswidget-fullscreen-mode").height();
		if (!widgetHeight){
			widgetHeight = $(".widget-body").height();
		}
		else {
			widgetHeight = widgetHeight -50;
		}
		return widgetHeight;
	}

	function SetWidgetHeight() {
		$(".widget-body").css({height: getContentHeight()});
	}

	function SetGridHeight() {
		$("#myGrid").css({height: getWidgetHeight()- 30});
	}


	$( window ).resize(function() {
	  	SetWidgetHeight();
	  	SetGridHeight();
	});

	
</script>
