<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"
				-->
				<header>
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-fw fa-lg fa-times pull-right"></i>Live Stats</a>
						</li>
						<li>
							<a data-toggle="tab" href="#s2"><i class="fa fa-fw  fa-times pull-right"></i>Other Tab</a>
						</li>
						<li>
							<a data-toggle="tab" href="#s3"><i class="fa fa-times pull-right"></i>Other Tab 2</a>
						</li>

					</ul>
				</header>
				<!-- widget div-->
				<div class="no-padding">
					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom" id="s1">
								<div id="myGrid"></div>
								<div id="pager"></div>
							</div>
							<!-- end s1 tab pane -->
							<div class="tab-pane fade active in no-padding-bottom" id="s2">
								<h1>Sanju</h1>
							</div>
							<div class="tab-pane fade active in no-padding-bottom" id="s3">
								<h1>Varsha</h1>
							</div>

						</div>
						<!-- end content -->
					</div>
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</article>
	</div>
	<!-- end row -->
</section>
<!-- end widget grid -->
<script type="text/javascript">
	pageSetUp();
</script>
