<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-queryeditor" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Query Editor</h2>				
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form class="smart-form">
							<fieldset>
								<div class="row">
									<section class="col col-lg-2 col-md-3 col-sm-3 col-xs-4">
										<section>
											<label class="label">Query Name</label>
											<label class="input">
												<input placeholder="Query Name" type="text">
											</label>
										</section>	
										<section>
											<label class="label">Choose Fields</label>
											<div id="fieldGrid"></div>
										</section>
									</section>	
									<section class="col col-lg-10 col-md-9 col-sm-9 col-xs-8">
										<section>
											<label class="label">Filter</label>
											<div class="container">
												<div class="col-md-12 col-lg-10 col-lg-offset-1">
											    	<div id="builder">
											    	</div>
										     	</div>
										    </div>
										</section>
										<section>
											<footer></footer>
											<div class="table-responsive">
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>Column field</th>
															<th>Column name</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Row 1</td>
															<td><input type="text" role="textbox" class="editable" style="width: 100%;"></td>
															
														</tr>
														<tr>
															<td>Row 1</td>
															<td>Row 2</td>
															
														</tr>
														<tr>
															<td>Row 1</td>
															<td>Row 2</td>
															
														</tr>
														<tr>
															<td>Row 1</td>
															<td>Row 2</td>
															
														</tr>
														<tr>
															<td>Row 1</td>
															<td>Row 2</td>
															
														</tr>
														<tr>
															<td>Row 1</td>
															<td>Row 2</td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>	
									</section>
								</div>
							</fieldset>
							<footer>
								<button type="submit" class="btn btn-primary">
									Save 
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
		</section>
	</div>
</article>
<script type="text/javascript">
	pageSetUp();

	var columns = [{id: "field", name: "Fields", field: "field", cssClass: "cell-title"}];
	var data = {{data|safe}};
	initFieldsGrid('#fieldGrid', data, columns);
	
	var headersHeight = $("#header").height() + $("#ribbon").height() + $("header").height() + $('.page-footer').height();
	function getContentHeight(){

		return ( $(window).height() -  headersHeight -24/* - $('article.sortable-grid').height()*/);
	}

	function getWidgetHeight(){
		var widgetHeight = $("#jarviswidget-fullscreen-mode").height();
		if (!widgetHeight){
			widgetHeight = $(".widget-body").height();
		}
		else {
			widgetHeight = widgetHeight -50;
		}
		return widgetHeight;
	}

	function SetWidgetHeight() {
		$(".widget-body").css({height: getContentHeight()});
	}

	function SetGridHeight() {
		$("#fieldGrid").css({height: getWidgetHeight()-215});
	}

	SetWidgetHeight();
	SetGridHeight();	

	$( window ).resize(function() {
	  	SetWidgetHeight();
	  	SetGridHeight();
	});


// define filters
$('#builder').queryBuilder({
  sortable: true,
  
  onValidationError: function($target, err) {
      console.error(err, $target);
  },
  
  filters: [
  /*
   * basic
   */
  {
    id: 'name',
    label: 'Name',
    type: 'string'
  },
  /*
   * select
   */
  {
    id: 'category',
    label: 'Category',
    type: 'integer',
    input: 'checkbox',
    values: {
      1: 'Books',
      2: 'Movies',
      3: 'Music',
      4: 'Tools',
      5: 'Goodies',
      6: 'Clothes'
    },
    operators: ['in', 'not_in', 'equal', 'not_equal', 'is_null', 'is_not_null']
  },
  /*
   * radio
   */
  {
    id: 'in_stock',
    label: 'In stock',
    type: 'integer',
    input: 'radio',
    values: {
      1: 'Yes',
      0: 'No'
    },
    operators: ['equal']
  },
  /*
   * double
   */
  {
    id: 'price',
    label: 'Price',
    type: 'double',
    validation: {
      min: 0,
      step: 0.01
    }
  }, 
  /*
   * placeholder and regex validation
   */
  {
    id: 'id',
    label: 'Identifier',
    type: 'string',
    placeholder: '____-____-____',
    operators: ['equal', 'not_equal'],
    validation: {
      format: /^.{4}-.{4}-.{4}$/
    }
  },
  /*
   * custom input
   */
  {
    id: 'coord',
    label: 'Coordinates',
    type: 'string',
    validation: {
      format: /^[A-C]{1}.[1-6]{1}$/
    },
    input: function($rule, filter) {
      var $container = $rule.find('.rule-value-container');
      
      $container.on('change', '[name=coord_1]', function(){
        var h = '';
        
        switch ($(this).val()) {
          case 'A':
            h = '<option value="-1">-</option> <option value="1">1</option> <option value="2">2</option>';
            break;
          case 'B':
            h = '<option value="-1">-</option> <option value="3">3</option> <option value="4">4</option>';
            break;
          case 'C':
            h = '<option value="-1">-</option> <option value="5">5</option> <option value="6">6</option>';
            break;
        }
        
        $container.find('[name=coord_2]').html(h).toggle(h!='');
      });
      
      return '\
      <select name="coord_1"> \
        <option value="-1">-</option> \
        <option value="A">A</option> \
        <option value="B">B</option> \
        <option value="C">C</option> \
      </select> \
      <select name="coord_2" style="display:none;"></select>';
    },
    valueParser: function($rule, value, filter, operator) {
      return $rule.find('[name=coord_1]').val()
        +'.'+$rule.find('[name=coord_2]').val();
    },
    onAfterSetValue: function($rule, value, filter, operator) {
      if (operator.accept_values) {
        var val = value.split('.');
        
        $rule.find('[name=coord_1]').val(val[0]).trigger('change');
        $rule.find('[name=coord_2]').val(val[1]);
      }
    }
  }]
});

// set rules
$('.set').on('click', function() {
  $('#builder').queryBuilder('setRules', {
    condition: 'AND',
    rules: [{
      id: 'price',
      operator: 'less',
      value: 10.25
    }, {
      condition: 'OR',
      rules: [{
        id: 'category',
        operator: 'equal',
        value: 2
      }, {
        id: 'coord',
        operator: 'equal',
        value: 'B.3'
      }]
    }]
  });

  $('.parse-json').trigger('click');
})
.trigger('click');

// reset builder
$('.reset').on('click', function() {
  $('#builder').queryBuilder('reset');
  $('#result').addClass('hide').find('pre').empty();
});

// get rules
$('.parse-json').on('click', function() {
  $('#result').removeClass('hide')
    .find('pre').html(JSON.stringify(
      $('#builder').queryBuilder('getRules'),
      undefined, 2
    ));
});

$('.parse-sql').on('click', function() {
  var res = $('#builder').queryBuilder('getSQL', $(this).data('stmt'), false);
  $('#result').removeClass('hide')
    .find('pre').html(
      res.sql + (res.params ? '\n\n' + JSON.stringify(res.params, undefined, 2) : '')
    );
});

</script>